.container-fluid {
  margin-top: 50px;
}

.container-k {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

h3 {
  color: #fff;
}

.content {
  list-style: none;
}

.content__item {
  z-index: 1;
  pointer-events: none;
  position: fixed;
  top: 20%;
  left: 89%;
  transform: translate(-50%, -50%);
}

.button {
  pointer-events: auto;
  cursor: pointer;
  padding: 16px 48px;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  width: 280px;
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button--mimas {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 0.85rem;
  border-radius: 41px;
  overflow: hidden;
  color: #FCD980;
  background: #FCD980;
}

.button--mimas span {
  position: relative;
  mix-blend-mode: difference;
}

.button--mimas::before {
  content: '';
  background: #181f2b;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.3s cubic-bezier(0.3, 1, 0.8, 1);
}

.button--mimas:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cards {
  width: 250px;
  height: 300px;
  color: #fff;
  /* #36373a */
  margin-top: 80px;
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100px;
  border-radius: 50%;
}

.descricao_func {
  background-color: #42515a;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 35%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info_func {
  background-color: #36373a;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 75%;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.acoes {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

i {
  cursor: pointer;
  margin: 8px;
}

.minha-modal {
  width: 450px;
  height: 180px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffff;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.text-modal {
  background-color: #ffff;
  color: #273036;
}

.title-modal {
  padding: 18px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.button-model {
  border-radius: 5px;
  margin-right: 15px;
  border: none;
  padding: 8px;
  background-color: #FCD980;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: #1f222f;
}

.cancel {
  background-color: #fc8080;
}

* {
  margin: 0;
  padding: 0;
}

.container-k {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 60px 0;
  margin: auto;
}

.container-k .card {
  position: relative;
  width: 250px;
  height: 350px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.container-k .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.container-k .card:hover .content {
  transform: translateY(-20px);
}

.container-k .card .content .imgBx {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.container-k .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-k .card .content .contentBx h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.container-k .card .content .contentBx h3 span {
  font-size: 16px;
  font-weight: 300;
  text-transform: initial;
}

.container-k .card .sci {
  position: absolute;
  bottom: 50px;
  display: flex;
}

.container-k .card .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  cursor: pointer;
}

.container-k .card:hover .sci li {
  transform: translateY(0px);
  opacity: 1;
}

.container-k .card .sci li a {
  color: #fff;
  font-size: 17px;
  text-decoration: underline;
}
