<div class="container-fluid mt-3">
  <div class="form">
    <h3 class="text-center">Editar cargo</h3>
    <div class="label-float my-5">
      <input type="text" placeholder=" " name='cargo_nome' [(ngModel)]="cargo.cargo_nome">
      <label>Nome do cargo</label>
    </div>
    <div class="label-float my-5">
      <input type="text" placeholder=" " name='cargo_atribuicao' [(ngModel)]="cargo.cargo_atribuicao">
      <label>Atribuição do cargo</label>
    </div>
    <button (click)="editJob()" class="button">Atualizar</button>
  </div>
</div>
