<div class="container-fluid">
  <div class="form">
    <h3 class="text-center">Cadastro de Projeto</h3>
    <div class="label-float my-5">
      <input type="text" placeholder=" " name='proj_nome' [(ngModel)]="projeto.proj_nome">
      <label>Nome do projeto</label>
    </div>
    <div class="label-float my-5">
      <input type="text" placeholder=" " name='proj_filial' [(ngModel)]="projeto.proj_filial">
      <label>Filial do projeto</label>
    </div>
    <button (click)="cadastarProjeto()" class="button">Cadastrar</button>
  </div>
</div>
