<div class="container">
  <ul class="content">
    <li class="content__item">
      <button routerLink="/projeto/cadastro" class="button button--mimas"><span>Adicionar projeto</span></button>
    </li>
  </ul>
  <div class="list">
    <table class="table text-center">
      <thead>
        <tr>
          <th>ID</th>
          <th scope="col">Nome do projeto</th>
          <th scope="col">Filial do projeto</th>
          <th scope="col">Atribuir lider</th>
          <th scope="col">Nome do Líder</th>
          <th scope="col">Cidade do Líder</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <!-- fazer os cards -->
        <!-- projeto.id_projeto, projeto.proj_nome, projeto.proj_filial, funcionario.func_nome, funcionario.func_cidade -->
        <tr *ngFor="let projeto of projetos">
          <td>#{{projeto.id_projeto}}</td>
          <td>{{projeto.proj_nome}}</td>
          <td>{{projeto.proj_filial}}</td>
          <td><i routerLink="/projeto-lider/{{projeto.id_projeto}}" class="fa-solid fa-id-badge"></i></td>
          <td>{{projeto.func_nome}}</td>
          <td>{{projeto.func_cidade}}</td>
          <td>
            <i routerLink="/projeto/editar/{{projeto.id_projeto}}" class="fa-solid fa-pen"></i>
            <i (click)="abrirModal(projeto.id_projeto)" class="fa-solid fa-eraser text-danger"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="modal">
  <div class="minha-modal text-center">
    <div>
      <h5 class=" text-modal title-modal">Excluir Projeto</h5>
    </div>
    <h6 class="my-4 text-modal">Realmente deseja excluir projeto?</h6>
    <button (click)="fecharModal()" class="button-model cancel">Cancelar</button>
    <button (click)="deletarCargo()" class="button-model">Confirmar</button>
  </div>
</div>
